*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #3D5A80;
}
h1{
    color:#293241;
    text-align: center;
}
h2{
    color: #98C1D9;
    text-align: center;
}
h3{
    color: #E0FBFC;
    text-align: center;
}
main{
    width: 100%;
    height: 2%;
    float:left;
    display: flex;
    justify-content: center;  
}
button{
    margin-left: 2%;
    margin-right: 2%;
}