*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
#cuerpo{
    width: 99.1vw;
    height: 492vh;
    background-color: #EFEFEF;
    
}
/*ENCABEZADO*/
.cabecera{
    width: 99.1vw;
    height: 12vh;
    float: left;
    background-color: #00B871;
}
.icono{
    width: 4.5vw;
    height: 8.4vh;
    float: left;
    margin: 1.5vh 2vw 1.5vh 2vw; /* Superior, Derecho, Inferior, Izquierdo*/
}
.nombre{
    margin: 3.5vh 0vw 0vh 0vw;
    float: left;
    color: #EFEFEF;
}
.buscar{
    width: 18vw;
    height: 5vh;
    float: left;
    margin: 3vh 5vw 1.5vh 22vw; 
    
}
.buscar-input{
    margin-top: 1vh;
    height: 3vh;
    width: 13vw;
    border-radius: 7px;
    padding-left: .5vw;
    border: none;
}
.buscar-input:focus{
    color: #064789;
    border: 2px solid #064789;
    outline: none;
    outline-width: 0;
}
.buscar-btn{
    height: 2.5vh;
    width: 3vw;
    background-color: #00B871;
    border: none;
    border-radius: 7px;
    color: #EFEFEF;
    font-size: 1.5vh;
}
.buscar-btn:hover{
    cursor: pointer;
    color: #00B871;
    background-color: #EFEFEF;
}
.login{
    margin: 3.5vh 5vw 10vh 20vw  ;
    float: left;
    font-size: 1.6vh;
}
li{
    list-style-type: none;
}
.log-a{
    text-decoration: none;
    color: #EFEFEF;
}
.log-a:hover{
    color:#064789;
}

/*MENU DE NAVEGACION*/
.img-menu-cerrar{
    width: 1.5vw;
    height: 2.7vh;
}
.img-menu{
    width: 2vw;
    height: 3.7vh;
    margin-left: 2vw;
    margin-top: 4vh;
    float: left;
}
.icon-menu{
    cursor: pointer;  
}
#btn-menu{
    display: none;   
}
.container-menu{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 492%;
    top:0; left:0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #EFEFEF;
    height: 492vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #064789;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    height: 7vh;
}
.cont-menu nav a:hover{
    border-left: 5px solid c7c7c7;
    background: #D5DBE1;
    color: #2FDF84;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}



/*PRINCIPAL*/
main{
    width: 99.1vw;
    height: 465vh;
    float: left;
    background-color: #EFEFEF;
}
.cont{
    width: 80vw;
    height: 465vh;
    float: center;
    display: block;
    margin: auto;
    margin-top: 4vh;
}
.head{
    width: 10vw;
    height: 5vh;
    float: left;
    margin: 5vh 0vw 0vh 3vw;
}

.tarjeta{
    width: 70vw;
    height: fit-content;
    float: left;
    display: block;
    margin: 6vh 0vw 0vh 7vw;
    border-radius: 10px;
    background-color: #D5DBE1;
}
.tarjeta-img{
    float: left;
    width: 10vw;
    border-radius: 10px;
}

.tarjeta-titulo{
    width: 16vw;
    height: 4vh;
    float: left;
    color:#064789;
    text-decoration: none;
    margin: 2vh 0vw 1vh 3vw;
}
.tarjeta-titulo:hover{
    color: #00B871;
}
.tarjeta-autor, .tarjeta-edit{
    
    font-size: 2.5vh;
    color: #064789;
    width: 56vw;
    float: left;
    margin: .5vh 0vw .5vh 3vw;
}

.apartar{
    font-size: 1.3vh;
    background-color: #064789;
    float: left;
    width: 4vw;
    margin: 1.5vh 0vw .5vh 3vw;
    border: none;
    border-radius: 20px;
    padding: 8px 2px 8px 2px; 
    color: #D5DBE1;
}
.apartar:hover{
    background-color: #00B871;
    cursor: pointer;
}
.apartar:focus{
    outline: none;
    outline-width: 0;
    border: none;
}


/*PIE DE PÁGINA*/
footer{
    width: 99.1vw;
    height: 15vh;
    float: left;
    background-color: #797270;
    color: #D5DBE1;
}
.info{
    margin: 20px;
}
.footer-a{
    text-decoration: none;
    color:#064789;
}
