*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
/*ENCABEZADO*/
.cabecera{
    width: 99.1vw;
    height: 12vh;
    float: left;
    background-color: #00B871;
}
.icono{
    width: 4.5vw;
    height: 8.4vh;
    float: left;
    margin: 1.5vh 2vw 1.5vh 2vw; /* Superior, Derecho, Inferior, Izquierdo*/
}
.nombre{
    margin: 3.5vh 0vw 0vh 0vw;
    float: left;
    color: #EFEFEF;
}
.buscar{
    width: 18vw;
    height: 5vh;
    float: left;
    margin: 3vh 5vw 1.5vh 22vw; 
    
}
.buscar-input{
    margin-top: 1vh;
    height: 3vh;
    width: 13vw;
    border-radius: 7px;
    padding-left: .5vw;
    border: none;
}
.buscar-input:focus{
    color: #064789;
    border: 2px solid #064789;
    outline: none;
    outline-width: 0;
}
.buscar-btn{
    height: 2.5vh;
    width: 3vw;
    background-color: #00B871;
    border: none;
    border-radius: 7px;
    color: #EFEFEF;
    font-size: 1.5vh;
}
.buscar-btn:hover{
    cursor: pointer;
    color: #00B871;
    background-color: #EFEFEF;
}
.login{
    margin: 3.5vh 5vw 10vh 20vw  ;
    float: left;
    font-size: 1.6vh;
}
li{
    list-style-type: none;
}
.log-a{
    text-decoration: none;
    color: #EFEFEF;
}
.log-a:hover{
    color:#064789;
}

/*MENU DE NAVEGACION*/
.img-menu-cerrar{
    width: 1.5vw;
    height: 2.7vh;
}
.img-menu{
    width: 2vw;
    height: 3.7vh;
    margin-left: 2vw;
    margin-top: 4vh;
    float: left;
}
.icon-menu{
    cursor: pointer;  
}
#btn-menu{
    display: none;   
}
.container-menu{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top:0; left:0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #EFEFEF;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #064789;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid c7c7c7;
    background: #D5DBE1;
    color: #2FDF84;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}



/*PRINCIPAL*/
main{
    width: 99.1vw;
    height: 100vh;
    float: left;
    background-color: #EFEFEF;
}
/*FORM DE INICIO*/
.inicio-sesion{
    width: 35vw;
    height: 55vh;
    display: block;
    margin: auto;
    margin-top: 15vh;
    background-color: #D5DBE1;
    border-radius: 25px;
    color: #064789;
}
/*TITULO*/
.div-title{
    height: 11vh;
    margin-bottom: 2vh;
    background-color: #2FDF84;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.title-form{
    transform: translateY(50%);
    text-align: center;
    color: #EFEFEF;
}
/*EFECTOS*/
.input-form, .input-pass, .letra-form{
    font-size: 1.6vh;
    color: #064789;
}
.input-form:focus, .input-pass:focus, .btn-pass:focus{
    outline: none;
    outline-width: 0;
}
/*EMAIL*/
.letra-form{
    text-align: center;
}
.div-email{
    text-align: center;  
}
.input-form{
    border-radius: 20px;
    height: 3vh;
    width: 20vw;
    border: none;
    display: block;
    margin: auto;
    margin-top: 1vh;
    padding-left: .9vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
/*PASSWORD*/
.div-pass{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.div-pass2{
    height: 4vh;
    width: 22.5vw;
    display: block;
    margin: auto;
}
.input-pass{
    border-radius: 20px;
    height: 3vh;
    width: 20vw;
    border: none;
    float: left;
    margin-top: 1vh;
    padding-left: .9vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
.btn-pass{
    float: right;
    margin-top: 1vh;
    height: 3vh;
    width: 2vw;
    border-radius: 20px;
    border: none;
    background-color:  #D5DBE1;
}
.btn-pass:hover{
    background-color: #EFEFEF;
    cursor: pointer;
}
.btn-img{
    width: 1.3vw;
    height: 2.4vh;
    transform: translateY(8%);
    outline: none;
    outline-width: 0;
}

/*BOTON Y VINCULO*/
.btn-form{
    width: 10vw;
    float: center;
    margin-right: 5vw;
    margin-bottom: 2vh;
    background-color: #064789;
    border: none;
    border-radius: 20px;
    padding: 8px;
    color: #D5DBE1;
    font-size: 1.5vh;
}
.div-btn{
    text-align: center;
    display: block;
    margin: auto;
    width: 10vw;
}
.btn-form:hover{
    background-color: #00B871;
    cursor: pointer;
}
.a-form{
    text-decoration: none;
    color:#064789;
}
.a-form:hover{
    color:#00B871;
}

/*PIE DE PÁGINA*/
footer{
    width: 99.1vw;
    height: 15vh;
    float: left;
    background-color: #797270;
    color: #D5DBE1;
}
.info{
    margin: 20px;
}
.footer-a{
    text-decoration: none;
    color:#064789;
}
